<h1>Productos</h1>
<section>
<article class="d-flex justify-content-around align-items-center flex-wrap">
{{#each payload}}
  <div class="card" style="width:18rem; height:25rem;">
    <img src="{{this.image}}" class="img-fluid" alt="restaurante">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      {{#each products}}
      <p class="card-text">{{this.id}}</p>
      <p class="card-text">{{this.menu}}</p>
      <p class="card-text">{{this.price}}</p>
      {{/each}}
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
{{/each}}
</article>
</section>
<p>Página actual: {{page}}</p>
{{#if prevLink}}
  <a href="{{prevLink}}" role="button">Anterior</a>
{{/if}}
{{#if nextLink}}
  <a href="{{nextLink}}" role="button">Siguente</a>
{{/if}}