<h1>Estudiantes</h1>

<table id="main" role="grid">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Correo</th>
    <th>Genero</th>
    <th><a href="{{sortLink}}">Calificación</a></th>
    <th>Grupo</th>
  </tr>
  {{#each payload}}
    <tr>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.gender}}</td>
      <td>{{this.grade}}</td>
      <td>{{this.group}}</td>
    </tr>
  {{/each}}
</table>

<p>Página actual: {{page}}</p>
{{#if prevLink}}
  <a href="{{prevLink}}" role="button">Anterior</a>
{{/if}}
{{#if nextLink}}
  <a href="{{nextLink}}" role="button">Siguente</a>
{{/if}}